@import './index.scss';

.experts {
    margin-top: 150px;
    min-height: 861px;

    &__wrapper {
        margin-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4.3em;
        grid-gap: 69px;
    }

    &__block {
        width: 331px;
        height: 432px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        text-align: center;
    }

    &__img {
        position: relative;
    }

    &__dots {
        position: absolute;
        z-index: -1;
        bottom: 172px;
        left: 74px;
    }

    &__name {
        margin-top: 20px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        color: $main-color;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 300;
        color: $main-color;
        margin-top: 5px;
    }

    &__descr {
        font-size: 16px;
        font-weight: 400;
        color: $dark-text;
        margin-top: 20px;
    }
}

@media (max-width: 1135px) {
    .experts {
        &__blocks {
            grid-gap: 30px;
        }

        &__block {
            width: 300px;
        }
    }
}

@media (max-width: 992px) {
    .experts {
    }
}