@font-face {
    font-family: 'Montserrat';
    src: url(../../public/Montserrat-VariableFont_wght.ttf);
}

$main-color: #FF8B1F;
$light-text: #FFF3E9;
$dark-text: #4B4B4B;
$bg-color: #FBFBFB;
$not-accent: #FFD2A9;
$btn-color: #CF6603;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    // background-color: $bg-color;
}

li {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
    outline: none;
    border: none;
}

.title-top {
    margin-top: 90px;
}

.container {
    width: 100%;
    padding: 0 6rem;
}

.scrolltotopbutton {
    position: fixed;
    border-radius: 50%;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    transition: opacity 3s ease-in-out;
}

.arrow {
    cursor: pointer;
    font-size: 50px;
    color: $main-color;
    transition: opacity 3s ease-in-out;
}

@media (max-width: 795px) {
    .container {
        width: 100%;
        padding: 0 3rem;
    }
}

@media (max-width: 375px) {
    .container {
        padding: 0 2rem;
    }
}