@import './index.scss';

.main {
    margin-top: 14px;
    height: auto;
    padding: 0 6rem;

    &__container {
        background: url("../assets/image/bg/main-bg.png") no-repeat center center;
        background-size: contain;
        height: 100%;
        background-position: top;

    }

    &__block {
        padding: 60px 0 0 70px;
        width: 808px;
        height: 554px;
    }

    &__title {
        line-height: 100%;
        font-size: 120px;
        color: $main-color;
        font-weight: 700;
    }

    &__descr {
        line-height: 22px;
        margin-top: 40px;
        width: 477px;
        height: 110px;
        padding-left: 35px;
        font-size: 20px;
        font-weight: 400;
        color: $dark-text;
    }

    &__descr b {
        font-weight: 900;
        color: $main-color;
    }

    &__btn {
        width: 185px;
        height: 44px;
        border-radius: 25px;
        background: linear-gradient(90deg, #FF8B1F 0%, #FFA24C 100%);
        color: $light-text;
        font-size: 17px;
        font-weight: 700;
        margin: 50px 0 0 35px;
        cursor: pointer;
    }

    &__mobile-bg {
        display: none;
    }
}

@media (max-width: 1470px) {
    .main {
        &__container {
            background: url("../assets/image/bg/bg1008px.png") no-repeat center center;
        }

        &__descr {
            padding-top: 50px;
            width: 377px;
        }

        &__title {
            font-size: 100px;
            line-height: auto;
        }

        &__descr {
            font-size: 14px;
        }

        &__btn {
            margin: 60px 0 0 35px;
        }
    }
}

@media (max-width: 1200px) {
    .main {

        &__container {
            height: auto;
        }

        &__block {
            height: auto;
        }
    }
}

@media (max-width: 992px) {
    .main {
        height: auto;
        padding: 0 2rem;

        &__container {
            background: url("../assets/image/bg/bg572px.png") no-repeat center center;
        }

        &__block {
            padding-top: 20px;
            display: flex;
            // align-items: center;
            flex-direction: column;
            width: 100%;
        }

        &__btn {
            margin: 73px 0 0 0;
        }

        &__descr {
            padding: 0;
            padding-top: 20px;
            width: 277px;
        }
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;

        &__container {
            background: url("../assets/icons/mobile_bg.svg") no-repeat center center;
        }

        &__title {
            font-size: 55px;
        }

        &__descr {
            padding-top: 40px;
            width: 355px;
        }

        &__btn {
            margin: 44px 0 0 0;
        }
        
    }
}

@media (max-width: 576px) {
    .main {
        &__block{
            padding: 0;
        }

        &__container {
            background: none;
        }

        &__title {
            margin: 0 auto;
            margin-top: 55px;
            font-size: 55px;
        }

        &__descr {

            width: 286px;
            height: 75px;
            text-align: center;
            line-height: 15px;
            margin: 0 auto;
            padding: 0;
        }

        &__mobile-bg {
            margin: 5px 0 10px 0;
            display: block;
        }

        &__btn {
            margin: 30px auto 0 auto;
            width: 140px;
            height: 28px;
            font-size: 12px;
        }
    }
}