@import './index.scss';

.main {
    margin-top: 14px;
    height: auto;
    padding: 0 6rem;

    &__container {
        background: url("../assets/image/bg/main-bg.png") no-repeat center center;
        background-size: contain;
        height: 100%;
        background-position: top;

    }

    &__block {
        padding: 60px 0 0 70px;
        width: 808px;
        height: 554px;
    }

    &__title {
        line-height: 100%;
        font-size: 120px;
        color: $main-color;
        font-weight: 700;
    }

    &__descr {
        line-height: 22px;
        margin-top: 40px;
        width: 477px;
        height: 110px;
        padding-left: 35px;
        font-size: 20px;
        font-weight: 400;
        color: $dark-text;
    }

    &__descr b {
        font-weight: 900;
        color: $main-color;
    }

    &__btn {
        width: 169px;
        height: 44px;
        border-radius: 25px;
        background: linear-gradient(90deg, #FF8B1F 0%, #FFA24C 100%);
        color: $light-text;
        font-size: 20px;
        font-weight: 700;
        margin: 50px 0 0 35px;
        cursor: pointer;
    }
}

@media (max-width: 1470px) {
    .main {
        &__container {
            background: none;
        }

        &__title {
            line-height: auto;
        }
    }
}

@media (max-width: 1200px) {
    .main {

        &__title {
            font-size: 100px;
        }

        &__container {
            background: none;
            height: auto;
        }

        &__block {
            height: auto;
        }
    }
}

@media (max-width: 992px) {
    .main {
        height: auto;
        padding: 0 3rem;

        &__block {
            padding-top: 20px;
            display: flex;
            // align-items: center;
            flex-direction: column;
            width: 100%;
        }

        &__btn {
            margin: 30px 0 0 0;
        }

        &__descr {
            padding-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
        &__title {
            font-size: 60px;
        }

        &__descr {
            width: 400px;
        }
    }
}

@media (max-width: 576px) {
    .main {

        &__block {
            padding: 60px 0;
        }

        &__title {
            font-size: 40px;
        }

        &__descr {
            width: auto;
            height: auto;
            margin-top: 10px;
        }
    }
}