@import './index.scss';

.testimonials {
    height: 100%;
    
    &__wrapper {
        position: relative;
        margin-top: 120px;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__card {
        height: 298px;
        margin-top: 62px;
        margin-bottom: 64px;
        background-color: $bg-color;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 25px 17px;
        text-align: center;
    }

    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-top: 10px;
        color: $main-color;
    }

    &__name {
        font-size: 20px;
        font-weight: 700;
    }

    &__date {
        font-size: 16px;
        font-weight: 400;
    }

    &__descr {
        line-height: 100%;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 400;
        color: $dark-text;
    }

    &__test-img {
        width: 55px;
        height: 55px;
    }
}

.high {
    position: absolute;
    bottom: 5px;
    z-index: -1;
}

.bottom {
    position: absolute;
    top: 290px;
    z-index: -1;
}

.top {
    margin-top: 120px;
}

.slick-slide > div {
    margin: 0 15px;
}

.slick-slider {
    width: 90%;
    // overflow: hidden;
}

.slick-list {
    position: relative;
    display: block !important;
    width: 100%;
    margin: 0 -5px;
}

.slick-slide div {
    width: auto;
    margin-right: 10px;
}

.prew-arrow {
    position: absolute;
    bottom: -320px;
    left: 400px;
}

.next-arrow {
    position: absolute;
    bottom: -320px;
    right: 400px;
}

@media (max-width: 1200px) {
    .testimonials {
        &__wrapper {
            margin-top: 80px;
        }

        &__card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .top {
        margin-top: 10px;
    }

    .high {
        position: absolute;
        bottom: 5000px;
        z-index: -1;
    }
    
    .bottom {
        position: absolute;
        top: 1285px;
        z-index: -1;
    }

    .prew-arrow {
        bottom: -250px;
        left: 400px;
    }
    
    .next-arrow {
        bottom: -250px;
    }

    .prew-arrow {
        left: 220px;
    }
    
    .next-arrow {
        right: 220px;
    }
}

@media (max-width: 992px) {
    .testimonials {
        margin-top: 160px;
    }
}

@media (max-width: 824px) {
    .testimonials {
        &__card {
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .prew-arrow {
        left: 140px;
    }
    
    .next-arrow {
        right: 140px;
    }
}

@media (max-width: 576px) {
    .testimonials {
        margin-top: 115px;
    }
}

@media (max-width: 472px) {
    .prew-arrow {
        left: 75px;
    }
    
    .next-arrow {
        right: 75px;
    }
}

@media (max-width: 358) {
    .prew-arrow {
        bottom: -275px;
    }
    
    .next-arrow {
        bottom: -275px;
    }
}