@import './index.scss';

.testimonials {
    min-height: 981px;
    
    &__wrapper {
        position: relative;
        margin-top: 155px;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__card {
        margin-top: 62px;
        margin-bottom: 64px;
        background-color: $bg-color;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 25px 17px;
        text-align: center;
    }

    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-top: 10px;
        color: $main-color;
    }

    &__name {
        font-size: 20px;
        font-weight: 700;
    }

    &__date {
        font-size: 16px;
        font-weight: 400;
    }

    &__descr {
        margin-top: 30px;
        font-size: 16px;
        font-weight: 400;
        color: $dark-text;
    }
}

.high {
    position: absolute;
    bottom: 5px;
    z-index: -1;
}

.bottom {
    position: absolute;
    top: 285px;
    z-index: -1;
}

.top {
    margin-top: 120px;
}

.slick-slide > div {
    margin: 0 15px;
}

.slick-slider {
    width: 90%;
    // overflow: hidden;
}

.slick-list {
    position: relative;
    display: block !important;
    width: 100%;
    margin: 0 -5px;
}

.slick-slide div {
    width: auto;
    margin-right: 10px;
}

.prew-arrow {
    position: absolute;
    bottom: -320px;
    left: 400px;
}

.next-arrow {
    position: absolute;
    bottom: -320px;
    right: 400px;
}